@model IEnumerable<Interdiciplinar1._1.Models.ModeloList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listas de Modelos</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Modelos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Modelos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
       
    </tr>
}

</table>
